@media only screen and (max-width: 600px) {
  body {
    font-family: poppins;
    font-size: 15px;
    overflow-x: hidden;
  }

  /* nav */
  nav {
    height: 140px;
  }
  .nav-logo {
    position: relative;
    padding-left: 15px;
  }
  .nav-crocus {
    font-size: 30px;
    padding: 25px 0 0 0;
  }
  .nav-tech {
    padding: 0px 0px 0px 2px;
    font-size: 13.4px;
  }
  .nav-works {
    display: none;
  }
  section#top {
    padding-left: 15px;
    height: 75vh;
  }
  .home-title {
    font-size: 49px;
    line-height: 76px;
    margin-top: 15vh;
  }
  .link-div {
    margin-top: 12vh;
  }

  /* nav menu*/
  .menu-items {
    padding-top: 10px;
    font-size: 35px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .nav-socials {
    padding-top: 25px;
  }
  .nav-email {
    margin-top: 0;
  }
  #ham-menu:checked ~ div.ham-menu {
    padding-top: 60px;
  }
  .ham-menu {
    width: 102vw;
  }
  .nav-container-2 {
    padding-bottom: 52px;
  }
  .nav-socials a {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }

  /* carousel */
  .slick-list {
    padding: 0px !important;
    overflow-x: hidden;
  }
  .slick-track {
    width: 1700px !important;
  }
  .slick-slide.slick-active.slick-center.slick-current {
    width: 94vw !important;
  }
  .slick-slide.slick-active.slick-center.slick-current .carousel-div {
    padding: 12px;
  }
  .slick-slide.slick-active.slick-center.slick-current
    .carousel-div
    .carousel-img {
    margin-bottom: 35px;
    height: 60vh;
  }
  .carousel-div .carousel-img {
    margin-bottom: 31px;
  }
  .service-title {
    font-size: 25px;
  }

  /* mission */
  .mission-div {
    padding: 63vh 9px 0 15px;
    color: #eee;
    height: 100vh;
  }
  .mission-div h2 {
    font-size: 37px;
  }

  /* footer */
  .footer-div-top {
    padding: 23vh 15px;
  }
  .footer-div-top h1 {
    font-size: 35px;
    line-height: 49px;
  }
  .footer-div-bottom {
    padding: 0 15px;
  }
  .footer-row-bottom {
    font-size: 11.5px;
  }

  /* works page */
  .works-card-img {
    width: 96%;
    /* height: 96% !important; */
  }
  .works-card {
    width: 100%;
    height: 61vh !important;
    min-height: 515px;
  }
  .works-card-content {
    padding: 30px;
  }

  h1.heading.large {
    font-size: 3.5rem !important;
  }

  /* contact */
  .contact-spacing {
    padding: 0;
  }
  .contact-left {
    padding: 10px 15px;
  }
  .contact-left h1 {
    font-size: 30px;
    line-height: 1.5;
  }
  .contact-left .sub-heading {
    font-size: 16px;
  }
  .socials-sm {
    padding: 30px 15px;
    background-color: #eee;
  }
  .contact-right {
    padding: 0px 9px 40px 9px;
  }
  .contact-right .btn-cpt {
    font-family: poppins;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  /* sub-works */
  .works-top-left {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .works-top-left .heading {
    font-size: 3rem;
    line-height: 1.5em;
  }
  .works-top-right {
    margin-top: 20px;
  }
}
